<div style="display: flex; width: 100%; height: 1150px;">
    <div #chartWrapperActivos style="display: flex; justify-content: center; flex: 2.2;  align-items: center; padding-top: 20px;">
      <div style="position: relative; width: 800px">
        <canvas #chartCanvasActivos></canvas>
        <div #chartContainerActivos style="position: absolute; top: 0; left: 0"></div>
      </div>
    </div>
    <div style="background-color: blue; flex: 1">1</div>
  </div>
  
  <br>
  
  <div style="display: flex; width: 100%; height: 1150px;">
    <div #chartWrapper style="display: flex; justify-content: center; flex: 2.2;  align-items: center; padding-top: 20px;">
      <div style="position: relative; width: 800px">
        <canvas #chartCanvas></canvas>
        <div #chartContainer style="position: absolute; top: 0; left: 0"></div>
      </div>
    </div>
    <div style="background-color: blue; flex: 1">1</div>
  </div>
  
  <br>
  
  <div class="chart-container">
    <canvas #chartVC></canvas>
  </div>
  
  <br>
  
  <button (click)="generar()">generar</button>
