.chart-container {
    position: relative;
    width: 620px;
    // height: 35px;
    margin: auto;
  }

.chart-container2 {
    position: relative;
    width: 800px;
    height: 800px;
  }

.styleHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.styleFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 5px;
  gap: 10px;
  font-weight: bold;
}

.buttonGenerar {
  padding: 5px 15px;
}