<div
  style="display: flex;
    flex-direction: column;
    width: 100%;
">
  <div class="styleHead">
    <div class="styleFile">
      <span>Aqui puedes subir tu plantilla de excel por cada Fondo</span>
      <label for="modeloExcel" class="custom-button">Plantilla Excel</label>
      <span style="font-size: 12px; opacity: 0.6;">Cantidad max. 1 archivo</span>
      <input id="modeloExcel" type="file" class="file-input" (change)="onFileChange($event)" accept=".xlsx, .xls"/>
    </div>
   
  </div>

  <div class="styleComentario">
    <p style="color: #0A80BA; font-weight: 700; font-size: 14px; margin-bottom: 10px; font-size: 15px;">
      Comentarios de la Sociedad Gestora 
      <strong style="color: rgb(255, 0, 0); font-size: 12px;">(Texto editable)</strong>
    </p>
    <span style="font-size: 12px;">Cantidad max. caracteres 1290</span>
    <textarea name="" id="" rows="20" cols="83" [(ngModel)]="prevComent" style="padding: 20px;" maxlength="1290" placeholder="Cantidad máxima de caracteres 1290"></textarea>
  </div>

  <br>
  <div style="display: flex; align-items: center; flex-direction: column; gap:15px; margin-top: 10px;">
    <div style="display: flex; gap: 20px;">
        <button class="styleUpdate" (click)="generar('edit')">Previsualizar</button>
         <button (click)="generar()" class="buttonGenerar">Generar</button>
    </div>

    <iframe id="visorPDF" width="70%" height="1000px"></iframe>
    <!-- <embed id="visorPDF" width="100%" height="600px" type="application/pdf"> -->
  </div>

  <div style="display: flex; width: 100%; height: 1050px; opacity: 0;">
    <div #chartWrapperActivos style="display: flex; justify-content: center; flex: 2.2; align-items: center; padding-top: 20px;">
      <div style="position: relative; width: 750px; height: 750px;">
        <canvas #chartCanvasActivos width="700" height="700"></canvas>
        <div #chartContainerActivos style="position: absolute; top: 0; left: 0"></div>
      </div>
    </div>
  </div>

  <div style="display: flex; width: 100%; height: 1050px; opacity: 0;">
    <div #chartWrapper style="display: flex; justify-content: center; flex: 2.2; align-items: center; padding-top: 20px;">
      <div style="position: relative; width: 750px; height: 750px;">
        <canvas #chartCanvas width="700" height="700"></canvas>
        <div #chartContainer style="position: absolute; top: 0; left: 0"></div>
      </div>
    </div>
  </div>

  <div class="chart-container">
    <canvas #chartVC></canvas>
  </div>
</div>
