.chart-container {
  position: relative;
  width: 620px;
  // height: 620px;
  margin: auto;
  opacity: 0;
}

/* .chart-container2 {
    position: relative;
    width: 800px;
    height: 800px;
  } */

.styleHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  margin: 30px auto 10px;
  width: 620px;
  padding: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

.styleHead button {
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 10px 20px;
  background-color: rgb(122, 121, 121);
  color: white;
}

.styleHead button:hover {
  background-color: rgb(143, 143, 143);
}

.styleComentario {
  display: flex; 
  justify-content: center; 
  flex-direction: column; 
  margin-top: 15px; 
  width: 100%;
  align-items: center;
}

.styleUpdate {
  border-radius: 10px;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  background-color: rgb(62, 165, 212)
}

.styleUpdate:hover {
  background-color: rgb(106, 154, 243);
}

.styleFile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 5px;
  gap: 10px;
  font-weight: bold;
}

.file-input {
  display: none;
}

.custom-button {
  background-color: #32a76c;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.custom-button:hover {
  background-color: #27be78;
}

.buttonGenerar {
  padding: 5px 15px;
}

#miGrafica {
  width: 600px;
  height: 400px;
}