/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'TT Hoves Pro Trial';
    src: url('./assets/font/TT Hoves Pro Trial/TT Hoves Pro Trial ExtraLight.ttf');
}

html{
    font-family: "TT Hoves Pro Trial";
}

body{
    margin: 0;
}